<h1>Tasks for <%= @pet.name %></h1>
<%= link_to 'New Task', new_pet_task_path(@pet), class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Status</th>
      <th>Start Time</th>
      <th>Duration (min)</th>
      <th>Flags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.subject %></td>
        <td><%= task.status %></td>
        <td><%= task.start_time %></td>
        <td><%= task.duration_minutes %></td>
        <td><%= task.flag_list.join(', ') %></td>
        <td>
          <%= link_to 'Edit', edit_pet_task_path(@pet, task) %>
          <%= link_to 'Delete', pet_task_path(@pet, task), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>