<div data-controller="organization-fields" class="container my-5">
  <h2 class="mb-4">Manage Customizable Fields</h2>

  <% OrganizationField.field_types.each do |field_type, _| %>
    <div class="field-group row mb-4">
      <!-- Field Type Header -->
      <div class="col-12">
        <h3 class="field-type-title"><%= field_type.titleize %></h3>
      </div>

      <!-- Current Field Values -->
      <div class="col-md-6">
        <h5 class="mb-3">Current Values</h5>
        <ul id="<%= field_type %>-list" class="list-group">
          <% @organization.organization_fields.where(field_type: field_type).each do |field| %>
            <li class="list-group-item d-flex justify-content-between align-items-center" data-field-id="<%= field.id %>">
              <%= field.value %>
              <button class="delete-field btn btn-sm btn-danger" data-action="organization-fields#deleteField" data-field-id="<%= field.id %>">Delete</button>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- Add New Field Form -->
      <div class="col-md-6">
        <h5 class="mb-3">Add New Value</h5>
        <form class="add-field-form" data-action="submit->organization-fields#addField" data-field-type="<%= field_type %>" data-organization-id="<%= @organization.id %>">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Add new <%= field_type %>" required />
          </div>
          <button type="submit" class="btn btn-primary w-100">Add</button>
        </form>
      </div>
    </div>
  <% end %>
</div>