<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= "#{user.first_name} #{user.last_name}" %></td>
    <td><%= user.role.titleize %></td>
    <td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td>
      <%= link_to "Edit", edit_user_path(user), class: "btn btn-sm btn-primary" %>
    </td>
  </tr>
<% end %> 