<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand -->
    <%= link_to admin_home_path, class: "navbar-brand" do %>
      PetForce Admin
    <% end %>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left-aligned links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Dashboard", admin_home_path, class: "nav-link #{current_page?(admin_home_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Organizations", organizations_path, class: "nav-link #{current_page?(organizations_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", admin_users_path, class: "nav-link #{current_page?(admin_users_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ad Center", admin_ads_path, class: "nav-link #{current_page?(admin_ads_path) ? 'active' : ''}" %>
        </li>
      </ul>

      <!-- Right-aligned user dropdown -->
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item", form: { data: { turbo: false } } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
