<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand -->
    <% if @organization.present? %>
      <%= link_to organization_path(@organization), class: "navbar-brand" do %>
        <%= @organization.name %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        PetForce
      <% end %>
    <% end %>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Left-aligned links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", @organization.present? ? organization_path(@organization) : root_path, class: "nav-link" %>
        </li>
        <% if @organization.present? %>
          <li class="nav-item">
            <%= link_to "Pets", organization_pets_path(@organization), class: "nav-link #{current_page?(organization_pets_path(@organization)) ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Calendar", organization_events_path(@organization), class: "nav-link #{current_page?(organization_events_path(@organization)) ? 'active' : ''}" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Social", feed_index_path, class: "nav-link" %>
        </li>
      </ul>

      <!-- Right-aligned user dropdown -->
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.impersonated? %>
            <li class="nav-item">
              <div class="alert alert-warning mb-0 me-3 py-1">
                Impersonating: <%= current_user.email %>
                <%= button_to "Stop Impersonating", stop_impersonating_user_path(current_user), method: :delete, class: "btn btn-warning btn-sm ms-2" %>
              </div>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <% if current_user.admin? %>
                <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <% elsif current_user.shelter_staff? %>
                <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
              <% end %>
              <% if current_user.shelter_staff? || current_user.admin? %>
                <% if @organization.present? %>
                  <li><%= link_to "Edit Organization", edit_organization_path(@organization), class: "dropdown-item" %></li>
                  <li><%= link_to "Manage Fields", organization_organization_fields_path(@organization), class: "dropdown-item" %></li>
                <% end %>
              <% end %>
              <% if current_user.admin? || (current_user.shelter_staff? && current_user.organizations.size > 1) %>
                <li><%= link_to "Switch Organizations", organizations_path, class: "dropdown-item" %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item", form: { data: { turbo: false } } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
