<%= render 'shared/navbar_org' %>

<%= turbo_stream_from "task_#{@task.id}" %>

<div class="container mt-4" 
     data-controller="task turbo-stream"
     data-task-id="<%= @task.id %>"
     data-task-subject="<%= @task.subject %>"
     data-url="<%= organization_task_path(@organization, @task) %>"
     data-task-edit-url-value="<%= edit_organization_task_path(@organization, @task) %>">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2>Edit Task: <%= @task.subject %></h2>
        </div>
        <div class="card-body">
          <%= form_with model: @task, url: organization_task_path(@organization, @task), method: :patch, local: true do |f| %>
            <div class="form-group mb-3">
              <%= f.label :pet_id, "Pet", class: "form-label" %>
              <%= f.select :pet_id, @pets.map { |pet| [pet.name, pet.id] }, { selected: @task.pet_id }, { class: "form-control", required: true } %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :subject, "Task Subject", class: "form-label" %>
              <%= f.text_field :subject, class: "form-control", required: true %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :description, "Task Description", class: "form-label" %>
              <%= f.text_area :description, class: "form-control", rows: 3 %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :status, "Task Status", class: "form-label" %>
              <%= f.select :status, Task::STATUSES.map { |status| [status.humanize, status] }, {}, { class: "form-control", required: true } %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :start_time, "Start Time", class: "form-label" %>
              <%= f.datetime_field :start_time, class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :duration_minutes, "Duration (minutes)", class: "form-label" %>
              <%= f.number_field :duration_minutes, class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :task_type, "Task Type", class: "form-label" %>
              <%= f.select :task_type, @organization.organization_fields.where(field_type: 'type').map { |field| [field.value, field.value] }, { include_blank: "Select task type" }, { class: "form-control" } %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :flag_list, "Task Flags", class: "form-label" %>
              <%= f.collection_select :flag_list, @organization.organization_fields.where(field_type: :flags), :value, :value, { selected: @task.flag_list }, { multiple: true, class: "form-control" } %>
            </div>

            <div class="d-flex justify-content-between">
              <%= f.submit "Update Task", class: "btn btn-primary" %>
              <%= link_to "Cancel", organization_tasks_path(@organization), class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> 