<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= organization.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= organization.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= organization.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= organization.zip %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= organization.country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organization.email %>
  </p>

</div>
